<div class="container">
	<div class="col-sm-8 col-sm-offset-2 posts animated fadeInUp">
		<% _.each(posts, function(post) { %>
		<div class="post">
			<p class="jobTitle"><a href="/post/show/<%= post.id %>" data-job="<%= post.id %>"><%= post.jobTitle %></a></p>
			<p><span class="company"><%= post.companyName %></span> <span class="location">(<%= post.homeOffice %>)</span></p>
			<p class="oneLiner"><%= post.oneLiner %></p>
			<p class="createdAt pull-right" data-job="<%= post.id %>" datetime="<%= post.createdAt %>"><%= post.createdAt %></p>
			<ul class="editScreenLinks">
				<li><a class="statsBtn" href="/post/show/<%= post.id %>">View</a></li>
				<li><a class="statsBtn" href="/post/edit/<%= post.id %>">Edit</a></li>
				<li>Views: <%= post.views %></li>
				<li>Applicants: <%= post.submissions %></li>
				<li>Ratio: <%= post.conversion %>%</li>
				<li>Status: <% if (post.active == 'false') { %> Not Active <% } else { %> Active <% } %></li>
			</ul>
		</div>
		<% }) %>
	</div>
</div>