
<div class="container">

		<div class="col-sm-6 col-sm-offset-3">
			<h2>Edit your job listing</h2>
			<form action="/post/delete" method="POST">
				<input type="hidden" name="id" value="<%= post.id %>">
				<input type="submit" class="deletePost" value="Delete">
			</form>
		</div>
		<form action="/post/update/<%= post.id %>" class="col-sm-6 col-sm-offset-3" method="POST" id="postSubmit">

			<% if(flash && flash.err) { %>
		    <ul class="alert alert-success">
		        <% Object.keys(flash.err).forEach(function(error) { %>
		        <li><%- JSON.stringify(flash.err[error]) %></li>
		        <% }) %>
		    </ul>
		    <% } %>
		    <h4>About the position</h4>
		    <hr>

		    <label>Job Title:</label>
			<input type="text" class="form-control" name="jobTitle" value="<%= post.jobTitle %>"/><br>

			<label>Position Type:</label>
			<select class="form-control" type="text" name="profession">
				<option><%= post.profession %></option>
				<option value="programming">Programming</option>
				<option value="design">Design</option>
				<option value="systemAdmin">System Admin</option>
				<option value="businessAdmin">Business Admin/Executive</option>
				<option value="sales">Sales</option>
				<option value="customerSupport">Customer Support</option>
				<option value="misc">Miscellaneous</option>
			</select><br>

			<label>In 50 characters or less, why would anyone want to take this job over the next?<br><span class="lead" style="font-size:14px;">max 50 characters</span></label>
			<input type="text" class="form-control" name="oneLiner" value="<%= post.oneLiner %>" maxlength="50"/><br>

			<label>Job Description:</label>
			<div id="alerts"></div>
		    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
		      <div class="btn-group">
		        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
		          <ul class="dropdown-menu">
		          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
		          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
		          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
		          </ul>
		      </div>
		      <div class="btn-group">
		        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
		      </div>
		      <div class="btn-group">
		      	<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
		      </div>
		      <div class="btn-group">
		      	<a class="btn" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="fa fa-list-ol"></i></a>
		      </div>
		      <div class="btn-group">
		        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
		      </div>
		      
		    </div>
		    <div class="getHtml" style="display:none"><%= post.jobDescription %></div>
		    <div id="editor" name="jobDescription">
		      
		    </div>
		    <br>

			<label>Email address you want inquiries to be sent to:<br></label>
			<input type="email" class="form-control" name="howToApply" value="<%= post.howToApply %>"><br>

			<h4>About the Company</h4>
			<hr>

			<label>Company Name:</label>
			<input type="text" class="form-control" name="companyName" value="<%= req.session.User.companyName %>" /><br>

			<label>Home Office:</label>
			<input type="text" class="form-control" name="homeOffice" value="<%= post.homeOffice %>" /><br>

			<label>Company URL:</label>
			<input type="text" class="form-control" name="companyURL" value="<%= post.companyURL %>" /><br>

			<label>U.S. applicants only?</label>
			<select class="form-control" type="text" name="usOnly">
				<option value="<%= post.usOnly %>"><%= post.usOnly %></option>
				<option value="no">No</option>
				<option value="yes">Yes</option>
			</select><br>

			<input type="hidden" name="userID" value="<%= session.User.id %>" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />

			<input type="submit" class="btn savePost" value="Save Post" />

		</form>
		<script>
			var postHtml = $('.getHtml').text();
	        $('#editor').append(postHtml);
		</script>
</div>