<div class="container">
	<div class="col-md-6">
		<h2>Edit Your Job Listing</h2>
	</div>
	<form method="POST" action="/post/update/<%= post.id %>" class="col-md-6">


		<% if(flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>

		<input type="text" class="form-control" name="jobTitle" value="<%= post.jobTitle %>" /><br>
		<select class="form-control" type="text" name="profession">
			<option value="<%= post.profession %>"><%= post.profession %></option>
			<option value="Physician">Physician</option>
			<option value="Nurse Practitioner">Nurse Practitioner</option>
		</select><br>
		<select class="form-control" type="text" name="specialty">
			<option value="<%= post.specialty %>"><%= post.specialty %></option>
			<option value="Addictions Medicine">Addictions Medicine</option>
			<option value="Administration">Administration</option>
		</select><br>
		<input class="form-control" type="text" name="city" value="<%= post.city %>" /><br>
		<input class="form-control" type="text" name="state" value="<%= post.state %>" /><br>
		<input class="form-control" type="text" name="zip" value="<%= post.zip %>" /><br>
		<textarea class="form-control" name="jobDescription" rows="10"><%= post.jobDescription %></textarea><br>
		<input type="hidden" name="userID" value="<%= session.User.id %>" />
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<input type="submit" class="btn btn-success" value="Add Property" />
	</form>
</div>