<div class="container">
	<% if (!session.authenticated) { %>
	<div class="col-md-12 signinPrompt">
		<form action="/session/create" method="POST" class="form-signin">

			<h3>Please sign in..</h3>

			<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
			<% } %>

			<input type="text" class="form-control" placeholder="Email address" name="email">
			<input type="password" class="form-control" placeholder="Password" name="encryptedPassword">
			<p>Don't have an account? <a href="/user/new">Sign up for free</a></p>
			<input type="submit" class="btn btn-default" value="Sign-in">
			<input type="hidden" value="<%= _csrf %>" name="_csrf">


		</form>
	</div>
	<% } %>

	<% if (session.authenticated) { %>
		<div class="col-sm-6 col-sm-offset-3">
			<h2>Create Your Job Listing</h2>
		</div>

			<% if(flash && flash.err) { %>
		    <ul class="alert alert-danger">
		        <% Object.keys(flash.err).forEach(function(error) { %>
		        <li><%- JSON.stringify(flash.err[error]) %></li>
		        <% }) %>
		    </ul>
		    <% } %>

		    <form action="/post/new" class="col-sm-6 col-sm-offset-3" method="POST" id="postSubmit">

		    <h4>About the position</h4>
		    <hr>

		    <label>Job Title:</label>
			<input type="text" class="form-control" name="jobTitle" id="jobTitle" placeholder="e.g. Ruby on Rails Developer"/><br>

			<label>Position Type:</label>
			<select class="form-control" type="text" name="profession" id="profession">
				<option>Select One</option>
				<option value="programming">Programming</option>
				<option value="design">Design</option>
				<option value="systemAdmin">System Admin</option>
				<option value="businessAdmin">Business Admin/Executive</option>
				<option value="sales">Sales</option>
				<option value="customerSupport">Customer Support</option>
				<option value="misc">Miscellaneous</option>
			</select><br>

			<label>In 50 characters or less, why would anyone want to take this job over the next?<br><span class="lead" style="font-size:14px;">max 50 characters</span></label>
			<input type="text" class="form-control" name="oneLiner" id="oneLiner" placeholder="e.g. Google funded startup w/ unlimited vacation!" maxlength="50"/><br>

			<label>Job Description:</label>
			<div id="alerts"></div>
		    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
		      <div class="btn-group">
		        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
		          <ul class="dropdown-menu">
		          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
		          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
		          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
		          </ul>
		      </div>
		      <div class="btn-group">
		        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
		      </div>
		      <div class="btn-group">
		      	<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
		      </div>
		      <div class="btn-group">
		      	<a class="btn" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="fa fa-list-ol"></i></a>
		      </div>
		      <div class="btn-group">
		        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
		      </div>
		      
		    </div>
		    
		    <div id="editor" name="jobDescription">
		      
		    </div>
		    <br>

			<label>Email address you want inquiries to be sent to:<br></label>
			<input type="email" class="form-control" name="howToApply" id="howToApply" placeholder="e.g. hire@hireremotely.co"><br>

			<h4>About the Company</h4>
			<hr>

			<label>Company Name:</label>
			<input type="text" class="form-control" name="companyName" id="companyName" value="<%= req.session.User.companyName %>" placeholder="e.g. Google" /><br>

			<label>Home Office:</label>
			<input type="text" class="form-control" name="homeOffice" id="homeOffice" placeholder="e.g. San Francisco, CA" /><br>

			<label>Company URL:</label>
			<input type="text" class="form-control" name="companyURL" id="companyURL" placeholder="hireremotely.co" /><br>

			<label>U.S. applicants only?</label>
			<select class="form-control" type="text" name="usOnly" id="usOnly">
				<option value="no">No</option>
				<option value="yes">Yes</option>
			</select><br>

			<input type="hidden" name="userID" value="<%= session.User.id %>" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />

		    <hr>

		    <input type="submit" id="submitJob" class="btn stripe-button" value="Post Job" />
		  <!-- <script
		  	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		  	data-email="<%= req.session.User.email %>"
		  	data-label="Post Job"
		    data-key="pk_5VNJq4vTl1I8ZwNssSB7nDKbH5KMy"
		    data-amount='9900'
		    data-name="Hire Remotely"
		    data-description="30 Day Job Posting ($99)"
		    data-image="/128x128.png">
		  </script> -->
		</form>
	<% } %>

</div>