<div class="container">
	<% if (!session.authenticated) { %>
	<div class="col-md-12 signinPrompt">
		<form action="/session/create" method="POST" class="form-signin">

			<h3>Please sign in..</h3>

			<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
			<% } %>

			<input type="text" class="form-control" placeholder="Email address" name="email">
			<input type="password" class="form-control" placeholder="Password" name="encryptedPassword">
			<p>Don't have an account? <a href="/user/new">Sign up for free</a></p>
			<input type="submit" class="btn btn-default" value="Sign-in">
			<input type="hidden" value="<%= _csrf %>" name="_csrf">


		</form>
	</div>
	<% } %>

	<% if (session.authenticated) { %>
		<div class="col-sm-6 col-sm-offset-3">
			<h2>Create Your Job Listing</h2>
		</div>
		<form action="/post/new" class="col-sm-6 col-sm-offset-3" method="POST">

			<% if(flash && flash.err) { %>
		    <ul class="alert alert-success">
		        <% Object.keys(flash.err).forEach(function(error) { %>
		        <li><%- JSON.stringify(flash.err[error]) %></li>
		        <% }) %>
		    </ul>
		    <% } %>
		    <h4>About the position</h4>
		    <hr>

		    <label>Job Title:</label>
			<input type="text" class="form-control" name="jobTitle" /><br>

			<label>Position Type:</label>
			<select class="form-control" type="text" name="profession">
				<option>Select One</option>
				<option value="programming">Programming</option>
				<option value="design">Design</option>
				<option value="systemAdmin">System Admin</option>
				<option value="businessAdmin">Business Admin/Executive</option>
				<option value="sales">Sales</option>
				<option value="customerSupport">Customer Support</option>
				<option value="misc">Miscellaneous</option>
			</select><br>

			<label>Brief Description to Attract Applicants:<br><span class="lead" style="font-size:14px;">max 50 characters</span></label>
			<input type="text" class="form-control" name="oneLiner" placeholder="e.g. Want to work 4 days a week and get paid for 5?" maxlength="50"/><br>

			<label>Job Description:</label>
			<textarea class="form-control" name="jobDescription" rows="10"></textarea><br>

			<label>How should people apply?<br><span class="lead" style="font-size:14px;">example: Email resume to name@company.com<span></label>
			<textarea class="form-control" name="howToApply" rows="4"></textarea>

			<h4>About the Company</h4>
			<hr>

			<label>Company Name:</label>
			<input type="text" class="form-control" name="companyName" value="<%= req.session.User.companyName %>" placeholder="e.g. Google" /><br>

			<label>Home Office:</label>
			<input type="text" class="form-control" name="homeOffice" placeholder="e.g. San Francisco, CA" /><br>

			<label>Company URL:</label>
			<input type="text" class="form-control" name="companyURL" placeholder="hireremotely.co" /><br>

			<label>U.S. applicants only?</label>
			<select class="form-control" type="text" name="usOnly">
				<option value="no">No</option>
				<option value="yes">Yes</option>
			</select><br>

			<input type="hidden" name="userID" value="<%= session.User.id %>" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />


		  <script
		  	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		  	data-email="<%= req.session.User.email %>"
		  	data-label="Post Job"
		    data-key="pk_5VNJq4vTl1I8ZwNssSB7nDKbH5KMy"
		    data-amount='9900'
		    data-name="MedicalCareer"
		    data-description="30 Day Job Posting ($99)"
		    data-image="/128x128.png">
		  </script>
		</form>
	<% } %>

</div>