<div class="container">
	<% if (!session.authenticated) { %>
	<div class="col-md-12 signinPrompt">
		<form action="/session/create" method="POST" class="form-signin">

			<h3>Please sign in..</h3>

			<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
			<% } %>

			<input type="text" class="form-control" placeholder="Email address" name="email">
			<input type="password" class="form-control" placeholder="Password" name="encryptedPassword">
			<p>Don't have an account? <a href="/user/new">Sign up for free</a></p>
			<input type="submit" class="btn btn-default" value="Sign-in">
			<input type="hidden" value="<%= _csrf %>" name="_csrf">


		</form>
	</div>
	<% } %>

	<% if (session.authenticated) { %>
		<div class="col-md-6">
			<h2>Create Your Job Listing</h2>
		</div>
		<form action="/post/new" class="col-md-6" method="POST">

			<% if(flash && flash.err) { %>
		    <ul class="alert alert-success">
		        <% Object.keys(flash.err).forEach(function(error) { %>
		        <li><%- JSON.stringify(flash.err[error]) %></li>
		        <% }) %>
		    </ul>
		    <% } %>

			<input type="text" class="form-control" name="jobTitle" placeholder="Job Title" /><br>
			<input type="text" class="form-control" name="companyName" value="<%= req.session.User.companyName %>" placeholder="Company Name" /><br>
			<select class="form-control" type="text" name="profession">
				<option>Profession</option>
				<option value="physician">Physician</option>
				<option value="nurse practitioner">Nurse Practitioner</option>
			</select><br>
			<select class="form-control" type="text" name="specialty">
				<option>Specialty</option>
				<option value="physician">Addictions Medicine</option>
				<option value="physician">Administration</option>
			</select><br>
			<input class="form-control" type="text" name="city" placeholder="City" /><br>
			<input class="form-control" type="text" name="state" placeholder="State" /><br>
			<input class="form-control" type="text" name="zip" placeholder="Zip Code" /><br>
			<textarea class="form-control" name="jobDescription" placeholder="Job Description" rows="10"></textarea><br>
			<!-- <input type="checkbox" id="premiumListing" name="highlighted" checked> <span>Premium Job Listing? <em>(aditional $50)</em></span><br> -->
			<input type="hidden" name="userID" value="<%= session.User.id %>" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />


		  <script
		  	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		  	data-email="<%= req.session.User.email %>"
		  	data-label="Post Job"
		    data-key="pk_5VNJq4vTl1I8ZwNssSB7nDKbH5KMy"
		    data-amount='9900'
		    data-name="MedicalCareer"
		    data-description="30 Day Job Posting ($99)"
		    data-image="/128x128.png">
		  </script>
		</form>
	<% } %>

</div>