<div class="container">
	<div class="row">
		<div class="col-md-8 pull-left">
			<p class="jobTitle"><%= post.jobTitle %></p>
			<p><span class="company"><%= post.companyName %></span> <span class="location">(<%= post.city %>, <%= post.state %>)</span></p><br>
		</div>
		<div class="col-md-4 pull-right">
			<% if (req.session.User.id == post.userID) { %>
			<a href="/post/edit/<%= post.id %>">Edit</a>
			<% } %>
		</div>
	</div>
	<strong><p>Job Description:</p></strong><br>
	<p class="description"><%= post.jobDescription %></p>
	<hr>
</div>