<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<p class="jobTitle"><%= post.jobTitle %></p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<a data-toggle="modal" data-target="#apply" class="btn pull-right">APPLY FOR POSITION</a>
				</div>
			</div>
			<p><span class="company"><%= post.companyName %></span> <span class="location">(<%= post.homeOffice %>)</span></p><hr>
			<% if (req.session.authenticated && req.session.User.id == post.userID) { %>
			<a href="/post/edit/<%= post.id %>">Edit</a>
			<% } %>
			<!-- <p class="description"><%= post.jobDescription %></p> -->
			<div class="getHtml" style="display:none"><%= post.jobDescription %></div>
			<div class="job-info">
			</div>
			<hr>
			<a data-toggle="modal" data-target="#apply" class="btn btn-lg center-block">APPLY FOR POSITION</a>
		</div>
	</div>
</div>


<div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/post/apply" method="POST">
        	<div class="col-md-6 col-md-offset-3">
        	<label>Your email address:</label>
        	<input type="email" class="form-control" name="applicantEmail" required />
        	<input type="hidden" value="<%= post.id %>" name="id" />
	        </div>
	        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn<% if (!session.authenticated) { %> jobSubmission <% } %> btn-primary" data-job="<%= post.id %>">Apply</button>
        </form>
      </div>
    </div>
  </div>
</div>