<div class="container">
	<h3>Admin Dashboard</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Company Name</th>
			<th>Admin</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% _.each(users, function(user) { %>
		<tr data-id="<%= user.id %>" data-model="user">
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.companyName %></td>
			<td><%= user.admin %></td>
			<td><a href="/user/show/<%= user.id %>" class="btn btn-default btn-sm">Show</a></td>
			<td><a href="/user/edit/<%= user.id %>" class="btn btn-info btn-sm">Edit</a></td>
			<td><form action="/user/delete/<%= user.id %>" method="POST">
				<input type="hidden" name="_method" value="delete" />
				<input type="hidden" name="_csrf" value="<%= _csrf %>">
				<input type="submit" class="btn btn-danger btn-sm" value="Delete" />
			</form></td>
		</tr>
		<% }) %>
	</table>
</div>