<div class="container">
	<table class="table">
		<tr>
			<td>
				<p><%= user.name %> </p>
			</td>
			<td>
				<p><%= user.address %></p>
			</td>
			<td>
				<p><%= user.city %>, <%= user.state %> <%= user.zip %></p>
			</td>
			<td>
				<p><%= user.phoneNumber %></p>
			</td>
			<td>
				<p><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
			</td>
			<td>
				<p>Billing info on file? <%= user.billingInfo %></p>
			</td>
		</tr>
	
	</table>

	<a class="btn btn-default" href="/user/edit/<%= user.id %>">Edit</a>
</div>