<div class="container">
	<h4><%= user.name %> </h4>
	<h5><%= user.address %></h5>
	<h5><%= user.city %>, <%= user.state %> <%= user.zip %></h5>
	<h5><%= user.phoneNumber %></h5>
	<h5><a href="mailto:<%= user.email %>"><%= user.email %></a></h5>
	<a class="btn btn-default" href="/user/edit/<%= user.id %>">Edit</a>
</div>