<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2 animated fadeInLeft">
			<form method="POST" action="/search/post">
			<select class="form-control" name="profession">
				<option value="all">Select Category</option>
				<option value="programming">Programming</option>
				<option value="design">Design</option>
				<option value="systemAdmin">System Admin</option>
				<option value="businessAdmin">Business Admin/Executive</option>
				<option value="sales">Sales</option>
				<option value="customerSupport">Customer Support</option>
				<option value="misc">Miscellaneous</option>
			</select>
		</div>
		<div class="searchBar col-sm-4 animated fadeInRight">
				<input type="text" name="searchQuery" placeholder="Search: 'Web Designer'" class="form-control">
				<input type="submit" class="btn pull-right" value="Search">
			</form>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 posts animated fadeInUp">
			<h5 class="resultsCount"></h5>
			<% _.each(results, function(post) { %>
			<div class="post">
				<p class="jobTitle"><%= post.jobTitle %></p>
				<p><span class="company"><%= post.companyName %></span> <span class="location">(<%= post.city %>, <%= post.state %>)</span></p>
				<p class="description"><%= post.jobDescription %></p>
				<a class="btn btn-default" href="/post/show/<%= post.id %>">View Job</a>
				<p class="createdAt pull-right" datetime="<%= post.createdAt %>"><%= post.createdAt %></p>
			</div>
			<% }) %>

			
		</div>
	</div>
</div>