<div class="container">

	<div class="row">
		<div class="searchBar col-sm-6 animated fadeInLeft">
			<form method="POST" action="/search/post">
				<input type="text" name="searchQuery" placeholder="Search: 'Physician', 'Nurse'" class="form-control">
				<input type="submit" class="btn pull-right" value="Search">
			</form>
		</div>
		<div class="postBar col-sm-6 animated fadeInRight">
			<a href="/post"><button class="btn col-xs-12">Post Job ($99 or $149/featured)</button></a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12 posts animated fadeInUp">
			<% _.each(results, function(post) { %>
			<div class="post">
				<p class="jobTitle"><%= post.jobTitle %></p>
				<p><span class="company"><%= post.companyName %></span> <span class="location">(<%= post.city %>, <%= post.state %>)</span></p>
				<p class="description"><%= post.jobDescription %></p>
				<a class="btn btn-default" href="/post/show/<%= post.id %>">View Job</a>
				<p class="createdAt pull-right" datetime="<%= post.createdAt %>"><%= post.createdAt %></p>
			</div>
			<% }) %>

			
		</div>
	</div>
</div>